body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f2ebdf;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 455px;
    background-color: #141414;
    flex-direction: column;
}
.container1 input {
    height: 35px;
    font-size: larger;
    padding-left: 10px;
}
.container1 button {
    height: 41px;
    width: 45px;
    background-color: #f2ebdf;
    color: #252525;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
}
.container1 button:hover{
    background-color: #969696;
}
.container2 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 90%
}
.image_container img {
    height: 100%;
    width: 100%;
}
.services div {
    text-align: center;
    height: 100%;
    width: 100%;
}
.image_container img {
    width: 90%;
    margin: auto;
    height: 75%;
}
.container3 {
    background-color: rgb(221, 207, 187);
    padding: 10px;
    height: 350px
}
.content {
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin: auto;
}
.content div {
    width: 25%;
}
.container4 {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4950bc;
    height: 550px;
}
.center-box {
    padding-top: 4%;
    background-color: #f2ebdf;
    border-radius: 10px;
    width: 60%;
    height: 60%
}
.content2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 79%;
    margin: auto;
}
.content2 div {
    width: 30%;
}
button {
    height: 37px;
    width: 84px;
    background-color: #1b1b1b;
    color: #f2ebdf;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #5f5e5e;
}
.button {
    margin-top: 30px;
    text-align: center;
}
.container5 {
    border:#141414;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 207, 187);
    height: 590px;
}
.content3 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 65%;
    width: 60%;
}
.content3 div {
    padding-left: 15px;
    margin: auto;
    width: 48%;
    height: 48%;
    background-color: rgb(224, 202, 171);
    border: 1px solid #f2ebdf;
    border-radius: 5px;
}
